<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="9" parallel="tests">

	<test name="Test_Register" parallel="methods" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_Register">
				<methods>
					<include name="register_invalidEmail" />
					<include name="register_invalidPasswordNotMatch" />
					<include name="register_invalidPasswordNumChar" />
					<include name="register_maxCharFullname" />
					<include name="register_invalidGender" />
				</methods>
			</class>
		</classes>
	</test>


	<test name="Test_Login" parallel="methods" thread-count="11">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_Login">
				<methods>
					<include name="login_invalidEmail" />
					<include name="login_invalidPassword" />
					<include name="login_invalidPhone" />
					<include name="login_notRegisteredEmail" />
					<include name="login_notRegisteredPhone" />
					<include name="login_success" />
					<include name="login_successByAccount" />
					<include name="login_successByContinueWatching" />
					<include name="login_successByHistory" />
					<include name="login_successByMyList" />
					<include name="login_successByQrCode" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Test_Edit_Profile" parallel="methods" thread-count="2">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_EditProfile">
				<methods>
					<include name="editprofile_Fullname" />
					<include name="editprofile_NicknameTaken" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Test_Chat" parallel="methods" thread-count="4">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_Chat">
				<methods>
					<include name="chat_beforeLoginGTV" />
					<include name="chat_beforeLoginINEWS" />
					<include name="chat_beforeLoginMNCTV" />
					<include name="chat_beforeLoginRCTI" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Test_Exclusive" parallel="methods" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_Exclusive">
				<methods>
					<include name="exclusive_validateCloseListShare" />
					<include name="exclusive_validateListCountShare" />
					<include name="exclusive_validateListShareByLabel" />
					<include name="exclusive_validateProgramThumbnail" />
					<include name="exclusive_validateShareByFb" />
					<include name="exclusive_validateShareByMail" />
					<include name="exclusive_validateShareByTwitter" />
					<include name="exclusive_validateShareByWhatsapp" />
				</methods>
			</class>
		</classes>
	</test>
	
		<test name="Test_Forget_Password" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_ForgetPassword">
				<methods>
					<include name="forgetpassword_phoneNotRegistered" />
				</methods>
			</class>
		</classes>
	</test>
	
		<test name="Test_My_List" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_Mylist">
				<methods>
					<include name="mylist_addByAccountLogin" />
				</methods>
			</class>
		</classes>
	</test>
	
		<test name="Test_News" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_News">
				<methods>
					<include name="news_validateCountCategoryDefault" />
					<include name="news_validateCountRelatedArtikelThumbnail" />
					<include name="news_validateCountThumbnailSmall" />
				</methods>
			</class>
		</classes>
	</test>
	
		<test name="Test_News" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_News">
				<methods>
					<include name="news_validateCountCategoryDefault" />
					<include name="news_validateCountRelatedArtikelThumbnail" />
					<include name="news_validateCountThumbnailSmall" />
				</methods>
			</class>
		</classes>
	</test>
	
		<test name="Test_Radio" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Test_Radio">
				<methods>
					<include name="radio_validateUrlRadio" />
				</methods>
			</class>
		</classes>
	</test>
	
</suite> 
