<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test Register">
		<classes>
			<class name="test.Test_Register" />
		</classes>
	</test>

	<test name="Test Login">
		<classes>
			<class name="test.Test_Login" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
